@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Stormpath + OneLogin Demo</h2>
        @if (User.Identity.IsAuthenticated)
        {
            <p>Logged in as <b>@User.Identity.Name</b>
            </p>

            <form action="/logout" method="post" id="logout_form"></form>
            <a onclick="document.getElementById('logout_form').submit();" style="cursor: pointer;">Log Out</a>
        }
        else
        {
            <a asp-action="LoginViaSaml">Log in with OneLogin</a>
        }
    </div>
</div>